body {
  background-color: lightBlue;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  margin-top: 10%;
  font-family: "Meddon", cursive;
  font-size: "20";
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border: 25px solid gold;
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
}

.pic{
  height: 600px;
  width: 800px;
  object-fit: cover;
  border: 25px solid gold;
}

h2{
  color: black;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}